In [1]:
import os
import urllib
import requests
from bs4 import BeautifulSoup
from collections import defaultdict
import pandas as pd
from datetime import datetime

In [2]:
!pip3 install pdfminer.six 
!pip install PyPDF2
!pip install pdfplumber
import pdfminer.high_level
from pdfminer.high_level import extract_text

import PyPDF2,pdfplumber 
 

CV_File=open('/content/ZeyaAhmadResume.pdf','rb')
Script=PyPDF2.PdfFileReader(CV_File)
pages=Script.numPages

Script = []
with pdfplumber.open(CV_File) as pdf:
    for i in range (0,pages):
        page=pdf.pages[i]
        text=page.extract_text()
        # print (text)
        Script.append(text)
        
Script=''.join(Script)
CV_Clear = Script.replace("\n","").replace('●', "")
CV_Clear

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pdfminer.six
  Downloading pdfminer.six-20221105-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 5.2 MB/s
Collecting cryptography>=36.0.0
  Downloading cryptography-38.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 40.7 MB/s
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from pdfminer.six) (2.1.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=36.0.0->pdfminer.six) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six) (2.21)
Installing collected packages: cryptography, pdfminer.six
Successfully installed cryptography-38.0.4 pdfminer.six-20221105
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyPDF2
  Downloading pypdf2-2.12.1-py3-none-any.whl (222 kB)
     |████████████████████████████████| 222 kB 4.6 MB/s
Requirement already satisfied: typing_extensions>=3.10.0.0 in /usr/local/lib/python3.8/dist-packages (from PyPDF2) (4.4.0)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-2.12.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pdfplumber
  Downloading pdfplumber-0.7.6-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 3.7 MB/s
Requirement already satisfied: pdfminer.six==20221105 in /usr/local/lib/python3.8/dist-packages (from pdfplumber) (20221105)
Collecting Pillow>=9.1
  Downloading Pillow-9.3.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
     |████████████████████████████████| 3.2 MB 9.1 MB/s
Collecting Wand>=0.6.10
  Downloading Wand-0.6.10-py2.py3-none-any.whl (142 kB)
     |████████████████████████████████| 142 kB 67.4 MB/s
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from pdfminer.six==20221105->pdfplumber) (2.1.1)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.8/dist-packages (from pdfminer.six==20221105->pdfplumber) (38.0.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=36.0.0->pdfminer.six==20221105->pdfplumber) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20221105->pdfplumber) (2.21)
Installing collected packages: Wand, Pillow, pdfplumber
  Attempting uninstall: Pillow
    Found existing installation: Pillow 7.1.2
    Uninstalling Pillow-7.1.2:
      Successfully uninstalled Pillow-7.1.2
Successfully installed Pillow-9.3.0 Wand-0.6.10 pdfplumber-0.7.6

'ZEYA AHMAD(929)8440942  | za2291@columbia.edu | https://www.linkedin.com/in/zeyaahmad/ | https://github.com/zeya30EDUCATIONCOLUMBIA UNIVERSITY Sep 2021-Dec 2022(Expected)M.A. in Statistics (Machine Learning track)Relevant Courses:Applied Linear Regression Models, Statistical Machine Learning, Databases, TensorFlow in Python, EDABIRLA INSTITUTE OF TECHNOLOGY AND SCIENCE(BITS),PILANI Sep 2015-June 2019B.E.(Hons.) in Computer ScienceRelevant Courses:Data Mining,Information Retrieval,Artificial Intelligence,Data Structures & Algorithms,OptimizationTECHNICAL SKILLSProgramming Languages: Python , R ,Java, SQL, SAS,C++ , HTML5/CSS, Microsoft ExcelLibraries/Framework:TensorFlow,Keras,PyTorch,Scikit-Learn,Pandas,NumPy,SciPy,Matplotlib,Seaborn,BeautifulSoup,Selenium,NLTK,RASA, Flask,tidyr,dplyr,ggplot2,R shiny,StreamlitSpecialization:Machine Learning(GLM,Linear Regression,LogisticRegression,KNN,Random Forest,Clustering,Decision Trees ,SVM,Classification),Data Analysis(A/B Testing,Data Modeling),Business Intelligence(Tableau,ProductAnalysis),Feature Engineering,Statistical  Modeling, Web Scraping, NLP, Predictive Modeling, Time Series Analysis, Hypothesis Testing, Reinforcement LearningDatabase/ETL: MySQL,MongoDB,Amazon DynamoDBOther Tools:Tableau,Spark,Hadoop,Git,AWS(Glue ETL,Athena,EC2,Lambda,RDS,SageMaker,S3),PowerBI,Google Cloud PlatformPROFESSIONAL EXPERIENCENEXTGEN HQ New York City, USAData Science & Strategy Consultant May 2022 - Aug2022 Built SQL scripts to generate weekly KPI reports, which decreased 30% of the data generating time Evaluated 3 A/B tests using Python & SQL to make informed recommendations on product changes. Used Python to build a decision tree with an accuracy of 86%, resulting in a 3% increase in VIP conversion Designed and conducted experiments on incentive programs, which increased VIP retention by 10%CUREFY New Delhi, IndiaData Science Intern Sep 2020 - April 2021 Developed a Healthcare Chatbot for online self-diagnosis and directing users to the appropriate medical practitioner based onsymptoms/text input by the user,usingInfermedicaAPI,RASA NLU framework and Python spaCy for NLP.JOHNSON CONTROLS Dubai, UAEBusiness Intelligence Intern Aug 2018- Jan 2019 Used SQL to build 6 dashboards from 1M+ customer data, which caused saving 10 work hours per week Generated 8 Tableau reports to support decision-making in: CRM, sales pipeline, recruiting, invoicing and ticketing.PROJECTSIMDB Movie Recommendation System Project |Kaggle| Python Mar 2021- Jun 2021 Created a hybrid recommendation system(Collaborative Filtering + Content-Based Filtering) basedon10k+usersand45kmoviesacross 30 years, that resulted in a 5% increase in basket size and improved RMSE from 1.34 to 0.86. Constructed collaborativefiltering and matrix factorizations using Alternating Least Squares with a Temporal Dynamics Regularization. Constructed content-based model through TF-IDF word embedding, LDA topic modeling, Pearson Correlation, and SentimentAnalysis (Natural Language Processing). Recommended top N similar movies with positive user comments.Analyzing neighborhoods in Bangalore | Capstone Project| Python Jun 2020 - Sep 2020 Implemented K-means Clustering algorithm to analyze and select the most suitable locations in Bangalore for opening a newshopping mall by Web Scraping Wikipedia page containing list oftheneighborhoodsinBangalore.UsedFoursquareAPItoobtainthe venue data for the neighborhoods and Geocoder library to obtain  geographical coordinates of the neighborhoods.Amazon Fake Review Detection | Kaggle | Python Sep 2019 - Dec 2019 Used text-mining and classification model to analyze 4+ million customer reviews of mobile phones sold on Amazon to predictitem ratings and prevent fake reviews with over 85% recall score. Cleaned unstructured text data by handling missing values and categoricaldata,processedsegmentation,andvectorizeddatafromtext into numeric using TF-IDF.Constructed data pipelines to train models including Decision Tree, Naive Bayes, and LogisticRegression to predict rating based on reviews with over 85% accuracy and evaluated models by AUROC and F1 score.Predicting Success of Spotify Songs |  BITS Pilani | Python Mar 2019 - May 2019 Used a dataset of 228,000 Spotify Tracks to predict popularity of a track(greater than 57 popularity) using audio-based metricssuch as key, mode, anddanceabilitywithoutexternalmetricssuchasartistname,genre,andreleasedate.RandomForestClassifierwas the best performing algorithm (92 % accuracy and 86.4% AUC).'

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
# search inputs: 
title = input('Enter your desired position: ').strip()
location = input('Enter your desired location: ').strip()
no_pages = int(input('Enter the # of pages to scrape: '))


info = []
headers = {'User-agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'}

for page in range(no_pages):
    getVars = {'keywords' : title, 'location' : location ,'sort' : 'date', 'start': str(no_pages*10)}
    url = ('https://www.linkedin.com/jobs/search?' + urllib.parse.urlencode(getVars))
    print(url)
    r = requests.get(url, headers=headers)
    html = r.content
    soup = BeautifulSoup(html, "html.parser")
    
    jobs = soup.find_all('div', class_ = 'base-card relative w-full hover:no-underline focus:no-underline base-card--link base-search-card base-search-card--link job-search-card')
    
    for job in jobs:
        title = str(job.find('h3', class_='base-search-card__title').text.strip())
        company = str(job.find('h4', class_='base-search-card__subtitle').text.strip())
        post_date = datetime.strptime(job.find('time')['datetime'], '%Y-%m-%d').date()
        link = job.find('a', class_='base-card__full-link')['href']
        
        info.append([title,company,post_date,link])
    

info_dict_list = defaultdict(list)

cols = ['Job_title','Company','Job_posted_date','Link']
info_table = pd.DataFrame(info, columns = cols)
# sort by post date
info_table = info_table.sort_values(by = 'Job_posted_date', ascending = False).reset_index(drop=True)
info_table

Enter your desired position: Data Scientist
Enter your desired location: New York
Enter the # of pages to scrape: 1
https://www.linkedin.com/jobs/search?keywords=Data+Scientist&location=New+York&sort=date&start=10

,Job_title,Company,Job_posted_date,Link
0,"Data Scientist, Product Analytics",Peloton Interactive,2022-12-14,https://www.linkedin.com/jobs/view/data-scient...
1,Data Scientist,Top Prospect Group,2022-12-13,https://www.linkedin.com/jobs/view/data-scient...
2,Data Scientist,TikTok,2022-12-12,https://www.linkedin.com/jobs/view/data-scient...
3,Data Scientist,Epsilon,2022-12-10,https://www.linkedin.com/jobs/view/data-scient...
4,"Data Scientist, Product",Asana,2022-12-08,https://www.linkedin.com/jobs/view/data-scient...
5,Data Scientist - Marketing Analytics,Spotify,2022-12-08,https://www.linkedin.com/jobs/view/data-scient...
6,Data Scientist,lululemon Studio,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...
7,"Data Scientist (Deep Learning), Peacock",Peacock,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...
8,Data Scientist Full Time,Bardess Group Ltd,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...
9,Data Scientist,Amicus,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...
10,Data Scientist,TikTok,2022-12-03,https://www.linkedin.com/jobs/view/data-scient...
11,Data Scientist,The New York Times,2022-12-03,https://www.linkedin.com/jobs/view/data-scient...
12,Data Scientist [NYC],CarbonChain,2022-12-02,https://www.linkedin.com/jobs/view/data-scient...
13,Data Scientist,Grammarly,2022-12-02,https://www.linkedin.com/jobs/view/data-scient...
14,Data Scientist - Global Decision Science,American Express,2022-12-01,https://www.linkedin.com/jobs/view/data-scient...
15,Data Scientist,McKinney,2022-11-26,https://www.linkedin.com/jobs/view/data-scient...
16,Data Scientist,Revelio Labs,2022-11-26,https://www.linkedin.com/jobs/view/data-scient...
17,Data Scientist,"Carrie Rikon & Associates, LLC",2022-11-26,https://www.linkedin.com/jobs/view/data-scient...
18,Data Scientist,"Carrie Rikon & Associates, LLC",2022-11-26,https://www.linkedin.com/jobs/view/data-scient...
19,Machine Learning Engineer,Verneek,2022-11-23,https://www.linkedin.com/jobs/view/machine-lea...
20,"Data Strategy, Data Scientist – Equity Research",Jefferies,2022-11-22,https://www.linkedin.com/jobs/view/data-strate...
21,Machine Learning Engineer - US Remote,Hugging Face,2022-11-13,https://www.linkedin.com/jobs/view/machine-lea...
22,Data Scientist,Afficiency,2022-11-09,https://www.linkedin.com/jobs/view/data-scient...
23,Data Scientist,Atlantic Partners Corporation,2022-10-23,https://www.linkedin.com/jobs/view/data-scient...
24,Machine Learning Engineer (NLP),BLACKBIRD.AI,2022-09-11,https://www.linkedin.com/jobs/view/machine-lea...

In [5]:
match_percent = []
for l in info_table['Link']: 
    
    # extract job description from 2nd webpage (ie, main page for each job post)
    r = requests.get(l, headers=headers)
    soup = BeautifulSoup(r.content, "html.parser")
    job_description = soup.find('div', class_='show-more-less-html__markup show-more-less-html__markup--clamp-after-5').text.replace("\n","")
    
    # calculate match percentage 
    Match_Test = [CV_Clear,job_description]
    cv = CountVectorizer()
    count_matrix = cv.fit_transform(Match_Test)
    MatchPercentage = cosine_similarity(count_matrix)[0][1]*100
    match_percent.append(MatchPercentage)
    
match_percent

[61.883468051153834,
 55.73384442479171,
 60.527459641648676,
 61.385708785596115,
 58.44522725278725,
 55.39328332692528,
 55.162251487936246,
 62.87477273146077,
 56.92702224901009,
 47.97039108016488,
 60.370927378517905,
 59.26137968901206,
 58.21452573589434,
 55.87402534246038,
 62.232565393424366,
 46.83845978397522,
 51.27348825819878,
 58.211078246346226,
 58.595425700676294,
 47.07516851205012,
 59.0126700269341,
 47.78527141434946,
 62.93423142075299,
 58.68186189223499,
 60.47971879176812]

In [6]:
match_percent = pd.DataFrame(match_percent, columns = ['Matching_percentage'])
final_info_table = pd.concat([info_table, match_percent], axis=1)
final_info_table = final_info_table.sort_values(by = 'Matching_percentage', axis = 0, ascending=False)

In [7]:
# export tp csv file: 
final_info_table.to_csv('final_info_table1.csv', index=False)
final_info_table

,Job_title,Company,Job_posted_date,Link,Matching_percentage
22,Data Scientist,Afficiency,2022-11-09,https://www.linkedin.com/jobs/view/data-scient...,62.934231
7,"Data Scientist (Deep Learning), Peacock",Peacock,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...,62.874773
14,Data Scientist - Global Decision Science,American Express,2022-12-01,https://www.linkedin.com/jobs/view/data-scient...,62.232565
0,"Data Scientist, Product Analytics",Peloton Interactive,2022-12-14,https://www.linkedin.com/jobs/view/data-scient...,61.883468
3,Data Scientist,Epsilon,2022-12-10,https://www.linkedin.com/jobs/view/data-scient...,61.385709
2,Data Scientist,TikTok,2022-12-12,https://www.linkedin.com/jobs/view/data-scient...,60.527460
24,Machine Learning Engineer (NLP),BLACKBIRD.AI,2022-09-11,https://www.linkedin.com/jobs/view/machine-lea...,60.479719
10,Data Scientist,TikTok,2022-12-03,https://www.linkedin.com/jobs/view/data-scient...,60.370927
11,Data Scientist,The New York Times,2022-12-03,https://www.linkedin.com/jobs/view/data-scient...,59.261380
20,"Data Strategy, Data Scientist – Equity Research",Jefferies,2022-11-22,https://www.linkedin.com/jobs/view/data-strate...,59.012670
23,Data Scientist,Atlantic Partners Corporation,2022-10-23,https://www.linkedin.com/jobs/view/data-scient...,58.681862
18,Data Scientist,"Carrie Rikon & Associates, LLC",2022-11-26,https://www.linkedin.com/jobs/view/data-scient...,58.595426
4,"Data Scientist, Product",Asana,2022-12-08,https://www.linkedin.com/jobs/view/data-scient...,58.445227
12,Data Scientist [NYC],CarbonChain,2022-12-02,https://www.linkedin.com/jobs/view/data-scient...,58.214526
17,Data Scientist,"Carrie Rikon & Associates, LLC",2022-11-26,https://www.linkedin.com/jobs/view/data-scient...,58.211078
8,Data Scientist Full Time,Bardess Group Ltd,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...,56.927022
13,Data Scientist,Grammarly,2022-12-02,https://www.linkedin.com/jobs/view/data-scient...,55.874025
1,Data Scientist,Top Prospect Group,2022-12-13,https://www.linkedin.com/jobs/view/data-scient...,55.733844
5,Data Scientist - Marketing Analytics,Spotify,2022-12-08,https://www.linkedin.com/jobs/view/data-scient...,55.393283
6,Data Scientist,lululemon Studio,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...,55.162251
16,Data Scientist,Revelio Labs,2022-11-26,https://www.linkedin.com/jobs/view/data-scient...,51.273488
9,Data Scientist,Amicus,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...,47.970391
21,Machine Learning Engineer - US Remote,Hugging Face,2022-11-13,https://www.linkedin.com/jobs/view/machine-lea...,47.785271
19,Machine Learning Engineer,Verneek,2022-11-23,https://www.linkedin.com/jobs/view/machine-lea...,47.075169
15,Data Scientist,McKinney,2022-11-26,https://www.linkedin.com/jobs/view/data-scient...,46.838460

In [8]:
print('Here are the top 10 recommended jobs based on your resume:')
final_info_table.nlargest(10,['Matching_percentage'])

Here are the top 10 recommended jobs based on your resume:

,Job_title,Company,Job_posted_date,Link,Matching_percentage
22,Data Scientist,Afficiency,2022-11-09,https://www.linkedin.com/jobs/view/data-scient...,62.934231
7,"Data Scientist (Deep Learning), Peacock",Peacock,2022-12-06,https://www.linkedin.com/jobs/view/data-scient...,62.874773
14,Data Scientist - Global Decision Science,American Express,2022-12-01,https://www.linkedin.com/jobs/view/data-scient...,62.232565
0,"Data Scientist, Product Analytics",Peloton Interactive,2022-12-14,https://www.linkedin.com/jobs/view/data-scient...,61.883468
3,Data Scientist,Epsilon,2022-12-10,https://www.linkedin.com/jobs/view/data-scient...,61.385709
2,Data Scientist,TikTok,2022-12-12,https://www.linkedin.com/jobs/view/data-scient...,60.527460
24,Machine Learning Engineer (NLP),BLACKBIRD.AI,2022-09-11,https://www.linkedin.com/jobs/view/machine-lea...,60.479719
10,Data Scientist,TikTok,2022-12-03,https://www.linkedin.com/jobs/view/data-scient...,60.370927
11,Data Scientist,The New York Times,2022-12-03,https://www.linkedin.com/jobs/view/data-scient...,59.261380
20,"Data Strategy, Data Scientist – Equity Research",Jefferies,2022-11-22,https://www.linkedin.com/jobs/view/data-strate...,59.012670